In [9]:
a=input("")
b=input("")
print("a =",a,  "b=",b)

a = 5 b= 7

In [10]:
a=input("")
b=input("")
print("a =",a,  "b=",b)
print("z =",a+b)

a = 5 b= 7
z = 57

In [19]:
a=5
a+a
print(a)
print(a+a)

5
10

In [28]:
my_income=100
tax_rate=0.1
my_taxes=my_income*tax_rate
print(my_taxes)

10.0

In [33]:
vars=3j+7
print(vars.real)
print(vars.imag)

7.0
3.0

In [1]:
a,b=5,10
b,a=a,b 
print(b,a)

5 10

dynamic typing 
reassign variables to different datatypes

In [2]:
a=2
a=2.3
print(a)

2.3

determining variable type with type() built-in function

integer

In [3]:
a=5
print(type(a))

<class 'int'>

float

In [4]:
a=5.8
print(type(a))

<class 'float'>

tuple

In [6]:
a=5,2
print(type(a))

<class 'tuple'>

tuple

In [7]:
a=(5,2)
print(type(a))

<class 'tuple'>

list

In [16]:
a=["2","a"]
print(type(a))

<class 'list'>

In [17]:
a=['a','a']
print(type(a))

<class 'list'>

string

In [9]:
a="5"
print(type(a))

<class 'str'>

dictionary

In [13]:
a={"3":"2","2":"3"}
print(type(a))

<class 'dict'>

set

In [15]:
a={"s","a"}
print(type(a))

<class 'set'>